.addux-list-item{
    border-top: 1px solid $gray-dark;
    border-bottom: 1px solid $gray-dark;
    text-align:center;
    //padding: 1rem 0;
    height:4rem;
    margin-bottom: 1rem;
    width:100%;
    font-size: 1.6rem;
    background-color:$gray-dark;
    color:$white;
    cursor: pointer;
    display:flex;
    align-items:center;

    &__name{
        margin-left:2rem;
        margin-right:auto;
        width:60%;

        &--input{
            border:none;
            outline:none;
            font-size:1.6rem;
            color:$gray-dark;
        }

        &--display{
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__icon{
        height:4rem;
        width:4rem;
        fill: $gray-dark;
        margin-left:auto;
        padding:1rem;
        border-top:1px solid $gray-dark;
        border-bottom:1px solid $gray-dark;
    
        &:hover{
            fill: $white;
            background-color:$gray-dark;
        }

        &--delete{
            margin:0;
            
            &:hover{
                fill: $gray-dark;
                background-color:#F8D6D9;
            }
        }
    }

    
    &--active{
        color:$gray-dark;
        background-color:$white;

    }

    &:hover{
        background-color:$gray-light;
        color: $gray-dark;
    }

    &__button{
        margin-right:2rem;
    }
}