.addux-textarea{
    resize:none;
    height:100%;
    width:100%;
    border: 1px solid $gray-lighter;
    border-top:none;
    outline:none;
    font-family: "Georgia", serif;
    line-height:1.6;
    padding: 1rem;

    &--single{
        // border-top: 1px solid $gray-lighter;
        // margin: 1.5rem 1.8rem;
        // width: calc(100% - 3.6rem);
        // height: 5rem;
    }
}