.pdf-column{
    width:14.2%;

    display:flex;
    flex-direction:column;

    &__header{
        width:100%;
        font-size:11pt;
        font-family: 'Garamond', 'EB Garamond', serif;
        text-align:center;
    }

    &__boxes{
        border-left:1px solid $black;
        border-right:1px solid $black;
        border-radius:10px;
        flex-grow:1;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding: 0 .15in;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
    }

    &__box{
        border:1px solid $black;
        font-family: "Roboto", sans-serif;
        padding:5px;
        font-size:8pt;
        //width:3.5in;
        height:60px;
        margin-bottom:25px;
        width:100%;
        display:flex;
        align-items:center;
        justify-content: center;

        &--objective{
            //width:2.25in;
            //height:2.7in;
            height: 150px;
        }

        &--goals{
            //width:3.6in;
            //height:1.375in;
            height:90px;
        }

        &:last-of-type{
            margin-bottom:0px;
        }
    }
}