.btn{

    color: $white;
    background-color:$brand-primary;
    border:1px solid $gray-dark;
    padding: 1rem;
    border-radius:.5rem;
    cursor:pointer;
    font-size:2rem;
    outline:none;
    display:inline-block;
    text-align:center;

    &:hover{
        background-color:darken($brand-primary, 10%);
    }

    &:active{
        background-color:darken($brand-primary, 20%);
    }

    &:disabled{
        cursor:default;

        background-color:$brand-primary;
    }

    &--small{
        font-size:1.6rem;
        padding:.7rem;
    }

    &--full-width{
        width:100%;
    }

    &--width-200{
        width:20rem
    }

    &__loading{
        height:auto;
        width:2rem;
    }

    &--danger{
        background-color:$brand-danger;
    
        &:hover{
            background-color:darken($brand-danger, 10%);
        }
    
        &:active{
            background-color:darken($brand-danger, 20%);
        }
    }

    
}