.objective-block{
    margin:3rem 0 1.5rem 0;
    padding: 0 1.8rem;

    .objective-block__label{
        background-color: #7798A6;
        font-size: 1.4rem;
        height: 2.5rem;
        color: white;
        padding: 0 2rem;
        border: 1px solid #e6e6e6;
        display: flex;
        align-items: center;
    }
}