.timer{
    display:flex;

    &__block{
        background-color:#A90001;
        color:$white;
        display:inline-block;
        padding:1rem 1rem;
        text-align: center;

        &:not(:last-child){
            margin-right:1rem;
        }
    }

    &__number{
        font-size:6.9rem;
        margin-bottom:-1rem;
    }

    &__label{
        font-size:1.9rem;
    }
}