/* COLORS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box; }

.hidden {
  display: none; }

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  line-height: 1.2; }

.bold {
  font-weight: 700; }

.app-link {
  font-size: 1.6rem;
  color: #505050;
  text-decoration: none; }
  .app-link:hover {
    text-decoration: underline; }

.accordion {
  margin: 1.5rem 0;
  overflow: auto;
  padding: 0 1.8rem; }
  @media only screen and (max-width: 56.25em) {
    .accordion {
      overflow: visible; } }
  .accordion__item {
    margin: 1.5rem 0; }
    .accordion__item input {
      display: none; }
      .accordion__item input:checked ~ .accordion__text {
        height: 5rem; }
      .accordion__item input:checked ~ .accordion__label .accordion__icon {
        transform: rotate(180deg); }
  .accordion__label {
    display: flex;
    font-size: 1.4rem;
    height: 2.5rem;
    width: 100%;
    background-color: #7798A6;
    color: #FFFFFF;
    align-items: center;
    padding: 0 2rem;
    border: 1px solid #e6e6e6;
    cursor: pointer; }
  .accordion__text {
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease-in-out; }
  .accordion__icon {
    margin-left: auto;
    height: 2rem;
    width: 2rem;
    fill: #FFFFFF;
    transition: all .3s ease-in-out; }

.addux-list {
  width: 30rem;
  position: absolute;
  background-color: #e6e6e6;
  top: 0;
  left: -30rem;
  height: 100vh;
  z-index: 200;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #333333; }
  @media only screen and (max-width: 37.5em) {
    .addux-list {
      width: 100%;
      left: -100%; } }
  .addux-list__list {
    overflow: auto; }
  .addux-list__close {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    fill: #333333;
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem; }
    .addux-list__close:hover {
      fill: #000000; }
  .addux-list--active {
    left: 0px; }

.addux-textarea {
  resize: none;
  height: 100%;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-top: none;
  outline: none;
  font-family: "Georgia", serif;
  line-height: 1.6;
  padding: 1rem; }
  .addux-textarea--single {
    border-top: 1px solid #e6e6e6;
    margin: 1.5rem 1.8rem;
    width: calc(100% - 3.6rem);
    height: 5rem; }

.app-nav {
  display: flex;
  fill: #999999;
  margin-right: 6rem; }
  @media only screen and (max-width: 43.75em) {
    .app-nav {
      margin-right: 0rem;
      margin-bottom: 1rem; } }
  .app-nav__icon-box {
    align-items: center;
    display: flex;
    height: 2.5rem;
    width: 2.5rem; }
    .app-nav__icon-box:not(:last-child) {
      margin-right: 1.5rem; }
    .app-nav__icon-box:hover {
      cursor: pointer;
      color: #505050;
      fill: #505050; }
    .app-nav__icon-box--invert {
      fill: #FFFFFF;
      background-color: #7798A6; }
      .app-nav__icon-box--invert:hover {
        color: #505050;
        background-color: #FFFFFF; }
  .app-nav__icon {
    height: 2rem;
    width: 2rem;
    fill: inherit;
    margin: 0 auto; }
    .app-nav__icon--small {
      height: 2rem;
      width: 2rem; }

.column {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: .8rem 2rem;
  width: 40rem; }
  @media only screen and (max-width: 37.5em) {
    .column {
      width: 85vw; } }
  .column__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ebe8e2;
    padding-top: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .column__content {
        overflow: auto; } }
  .column__question {
    font-size: 1.6rem;
    padding: 0 1.8rem; }

.column-header {
  align-items: center;
  border: 1px solid #666666;
  color: #666666;
  display: flex;
  flex-shrink: 0;
  height: 4rem;
  padding: 0 2rem;
  position: relative;
  cursor: pointer;
  fill: #666666; }
  .column-header:hover {
    background-color: #666666;
    color: #FFFFFF;
    fill: #FFFFFF; }
    .column-header:hover:after, .column-header:hover:before {
      content: "";
      display: block;
      position: absolute;
      top: 102%;
      width: 0;
      height: 0;
      border-style: solid; }
    .column-header:hover:after {
      left: 2.1rem;
      border-color: #666666 transparent transparent transparent;
      border-width: 1.1rem; }
    .column-header:hover:before {
      left: 2rem;
      border-color: #FFFFFF transparent transparent transparent;
      border-width: 1.2rem; }
  .column-header__icon {
    width: 3rem;
    height: 2rem;
    fill: inherit; }
  .column-header__text {
    font-size: 1.6rem;
    margin-right: auto;
    font-weight: 700; }
  .column-header:after, .column-header:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid; }
  .column-header:after {
    left: 2.1rem;
    border-color: #FFFFFF transparent transparent transparent;
    border-width: 1.1rem; }
  .column-header:before {
    left: 2rem;
    border-color: #666666 transparent transparent transparent;
    border-width: 1.2rem; }

.comments-form {
  padding: 0 2rem;
  margin-top: auto; }
  .comments-form__label {
    display: block;
    font-size: 1.6rem;
    margin-bottom: .5rem; }
  .comments-form__comments {
    font-family: "Georgia", serif;
    font-size: 1.4rem;
    width: calc(100% - 1.7rem);
    resize: none;
    margin-left: 1.7rem;
    border: none;
    height: 12rem;
    padding: 1rem; }
    .comments-form__comments:focus {
      outline-color: #333333; }

.info-box {
  max-width: 50rem;
  flex: 1 1 auto; }
  @media only screen and (max-width: 43.75em) {
    .info-box {
      width: 80%;
      text-align: center; } }
  .info-box__title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300; }
  .info-box__progress-bar {
    width: 100%;
    height: .5rem;
    background-color: #7798A6;
    border-radius: 1000px;
    position: relative; }

.logo {
  height: 3rem;
  margin-right: 4rem; }
  @media only screen and (max-width: 43.75em) {
    .logo {
      margin-right: 0rem;
      margin-bottom: 1.5rem; } }

.scroll-button {
  position: fixed;
  background-color: #e6e6e6;
  z-index: 100;
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  width: 4.2rem;
  border: 1px solid #cccccc; }
  .scroll-button__icon {
    height: 3rem;
    fill: #9DA145;
    width: 3rem; }
    .scroll-button__icon--left {
      transform: rotate(180deg); }
  .scroll-button--left {
    left: 0; }
  .scroll-button--right {
    right: 0; }

.notes {
  width: 50rem;
  position: absolute;
  background-color: #FFFFFF;
  border-left: 1px solid #000000;
  top: 0;
  right: -50rem;
  height: 100vh;
  z-index: 200;
  border-right: 1px solid #333333; }
  @media only screen and (max-width: 37.5em) {
    .notes {
      width: 100%;
      right: -100%; } }
  .notes__close {
    display: block;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    fill: #333333;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: -4rem;
    margin-left: auto; }
    .notes__close:hover {
      fill: #000000; }
  .notes--active {
    right: 0px; }

.app-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background-color: white;
  overflow: auto;
  z-index: 200;
  padding: 3rem; }
  .app-overlay__heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem; }
  .app-overlay__close {
    display: block;
    cursor: pointer;
    position: fixed;
    right: 4rem;
    height: 3rem;
    width: 3rem;
    fill: #333333;
    margin-top: -1.5rem; }
    .app-overlay__close:hover {
      fill: #000000; }

.form {
  font-size: 2.5rem;
  margin: 0 auto;
  margin-bottom: 1rem; }
  .form__form-group {
    margin-bottom: 1rem; }
    .form__form-group label {
      display: inline-block;
      margin-bottom: .5rem; }
  .form__input {
    display: inline-block;
    width: 100%;
    border-radius: .4rem;
    padding: 1.2rem 1.6rem;
    border: 1px solid #505050;
    outline: none;
    font-size: 1.6rem; }
    .form__input:focus {
      border-color: transparent;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6); }
  .form--600 {
    max-width: 60rem; }
  .form--400 {
    max-width: 40rem; }

.btn {
  color: #FFFFFF;
  background-color: #7798A6;
  border: 1px solid #505050;
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 2rem;
  outline: none; }
  .btn:hover {
    background-color: #5d7f8d; }
  .btn:active {
    background-color: #48636f; }
  .btn--small {
    font-size: 1.6rem;
    padding: .7rem; }
  .btn--full-width {
    width: 100%; }
  .btn--danger {
    background-color: #a1a456; }
    .btn--danger:hover {
      background-color: #808344; }
    .btn--danger:active {
      background-color: #5f6133; }

.user-panel {
  margin: 0 auto;
  max-width: 60rem; }
  .user-panel > div {
    margin-bottom: 2rem; }

.card-element {
  margin-bottom: 1rem; }

.card-panel__text {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.6rem; }

.card-panel__button {
  display: inline-block; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.alert {
  border: 1px solid black;
  font-size: 1.4rem;
  border-radius: .5rem;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  padding: .5rem; }
  .alert--failure {
    background-color: #F8D6D9;
    color: #A16267;
    border-color: #F5C5CA; }
  .alert--success {
    background-color: #D3ECD9;
    color: #396F45;
    border-color: #C4E6CB; }

.addux-list-item {
  border-top: 1px solid #505050;
  border-bottom: 1px solid #505050;
  text-align: center;
  height: 4rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.6rem;
  background-color: #505050;
  color: #FFFFFF;
  cursor: pointer; }
  .addux-list-item__delete {
    visibility: hidden; }
  .addux-list-item--active {
    color: #505050;
    background-color: #FFFFFF; }
  .addux-list-item:hover {
    background-color: #cccccc;
    color: #505050; }
    .addux-list-item:hover .addux-list-item__delete {
      visibility: visible; }

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; }

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2.5rem;
  align-items: flex-end; }
  @media only screen and (max-width: 43.75em) {
    .header {
      flex-direction: column;
      align-items: center; } }

.main-content {
  display: flex;
  flex: 1;
  overflow: auto;
  padding: 0 2.2rem; }

.footer {
  height: 3.5rem;
  display: flex;
  border-top: 0.3rem solid #7798A6;
  text-decoration: none; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      display: none; } }
  .footer div:last-child {
    border-right: none; }
  .footer__box {
    align-items: center;
    cursor: pointer;
    display: flex;
    fill: #333333;
    font-size: 1.6rem;
    font-weight: 900;
    justify-content: center;
    text-transform: uppercase;
    width: 26%;
    text-decoration: none;
    border-right: 0.3rem solid #7798A6;
    color: #333333; }
    .footer__box:hover {
      background-color: #333333;
      color: #FFFFFF;
      fill: #FFFFFF; }
    .footer__box--alt {
      background-color: #7798A6;
      color: #FFFFFF;
      fill: #FFFFFF;
      font-size: 1.6rem;
      font-weight: 700;
      width: 22%; }
      .footer__box--alt:hover {
        background-color: #FFFFFF;
        color: #505050;
        fill: #505050; }
      @media only screen and (max-width: 75em) {
        .footer__box--alt {
          font-size: 1.4rem; } }
  .footer__icon {
    height: 3.1rem;
    width: 2rem; }
    .footer__icon--alt {
      height: 1.6rem;
      width: 1.6rem;
      margin-top: 1px; }
  .footer__text--margin {
    margin-left: 1.6rem; }
  .footer__text--light-gray {
    color: #999999; }

.home-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center; }
  .home-page__heading {
    font-size: 3.9rem;
    margin-bottom: 1rem; }
  .home-page__sub-heading {
    font-size: 2.4rem;
    margin-bottom: 2rem; }
  .home-page__form {
    max-width: 40rem;
    margin-left: 5rem;
    padding: 3rem;
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: .7rem;
    flex-grow: 1; }

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center; }
  .login-page__heading {
    font-size: 3.9rem;
    margin-bottom: 1rem; }
  .login-page__form {
    max-width: 40rem;
    margin-left: 5rem;
    padding: 3rem;
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: .7rem;
    flex-grow: 1; }
