/* COLORS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box; }

.hidden {
  display: none !important; }

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  line-height: 1.2; }

.bold {
  font-weight: 700; }

.underline {
  text-decoration: underline; }

.primary-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem; }

.secondary-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem; }

.app-link {
  font-size: 1.6rem;
  color: #505050;
  text-decoration: none; }
  .app-link:hover {
    text-decoration: underline; }
  .app-link--bold {
    font-weight: 700; }

.accordion {
  margin: 1.5rem 0;
  overflow: auto;
  padding: 0 1.8rem; }
  @media only screen and (max-width: 56.25em) {
    .accordion {
      overflow: visible; } }
  .accordion__item {
    margin: 1.5rem 0; }
    .accordion__item input {
      display: none; }
      .accordion__item input:checked ~ .accordion__text {
        height: 7rem; }
        .accordion__item input:checked ~ .accordion__text > .accordion__status {
          height: 5.5rem; }
      .accordion__item input:checked ~ .accordion__label .accordion__icon {
        transform: rotate(180deg); }
  .accordion__label {
    display: flex;
    font-size: 1.4rem;
    height: 2.5rem;
    width: 100%;
    background-color: #7798A6;
    color: #FFFFFF;
    align-items: center;
    padding: 0 2rem;
    border: 1px solid #e6e6e6;
    cursor: pointer; }
  .accordion__text {
    height: 0px;
    overflow: hidden;
    position: relative;
    transition: height 0.3s ease-in-out; }
    .accordion__text--show {
      height: 5rem; }
  .accordion__icon {
    margin-left: auto;
    height: 2rem;
    width: 2rem;
    fill: #FFFFFF;
    transition: all .3s ease-in-out; }
  .accordion__alert {
    border: 1px solid;
    position: absolute;
    width: 100%;
    bottom: 0px;
    font-size: 1rem;
    padding: .5rem;
    text-align: center;
    transition: all .3s ease-in-out;
    opacity: 1; }
    .accordion__alert--success {
      background-color: #D3ECD9;
      color: #396F45;
      border-color: #C4E6CB; }
    .accordion__alert--failure {
      background-color: #F8D6D9;
      color: #A16267;
      border-color: #F5C5CA; }
    .accordion__alert--hidden {
      opacity: 0; }
  .accordion__status {
    position: absolute;
    width: 1.5rem;
    right: 5px;
    top: 7px;
    height: 0;
    transition: all .3s ease-in-out;
    z-index: 2; }
  .accordion__button {
    height: 1.5rem;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer; }
    .accordion__button--selected {
      border: 2px solid #000000; }
    .accordion__button:not(:last-child) {
      margin-bottom: .5rem; }
    .accordion__button--red {
      background-color: #D53E26; }
    .accordion__button--yellow {
      background-color: #ECCC45; }
    .accordion__button--green {
      background-color: #759338; }

.addux-list {
  width: 30rem;
  position: absolute;
  background-color: #e6e6e6;
  top: 0;
  left: -30rem;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 200;
  transition: left .3s ease-in-out;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #333333; }
  @media only screen and (max-width: 37.5em) {
    .addux-list {
      width: 100%;
      left: -100%; } }
  .addux-list__list {
    overflow: auto; }
  .addux-list__close {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    fill: #333333;
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem; }
    .addux-list__close:hover {
      fill: #000000; }
  .addux-list--active {
    left: 0px; }

.addux-textarea {
  resize: none;
  height: 100%;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-top: none;
  outline: none;
  font-family: "Georgia", serif;
  line-height: 1.6;
  padding: 1rem;
  padding-right: 2rem; }

.app-nav {
  display: flex;
  fill: #999999;
  margin-right: 6rem; }
  @media only screen and (max-width: 43.75em) {
    .app-nav {
      margin-right: 0rem;
      margin-bottom: 1rem; } }
  .app-nav__icon-box {
    align-items: center;
    display: flex;
    height: 2.5rem;
    width: 2.5rem; }
    .app-nav__icon-box:not(:last-child) {
      margin-right: 1.5rem; }
    .app-nav__icon-box:hover {
      cursor: pointer;
      color: #505050;
      fill: #505050; }
    .app-nav__icon-box--invert {
      fill: #FFFFFF;
      background-color: #7798A6; }
      .app-nav__icon-box--invert:hover {
        color: #505050;
        background-color: #FFFFFF; }
  .app-nav__icon {
    height: 2rem;
    width: 2rem;
    fill: inherit;
    margin: 0 auto; }
    .app-nav__icon--small {
      height: 2rem;
      width: 2rem; }

.column {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: .8rem 2rem;
  width: 40rem; }
  @media only screen and (max-width: 37.5em) {
    .column {
      width: 85vw; } }
  .column__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ebe8e2;
    padding-top: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .column__content {
        overflow: auto; } }
  .column__question {
    font-size: 1.6rem;
    padding: 0 1.8rem;
    height: 5rem;
    flex-shrink: 0; }

.column-header {
  align-items: center;
  border: 1px solid #666666;
  color: #666666;
  display: flex;
  flex-shrink: 0;
  height: 4rem;
  padding: 0 2rem;
  position: relative;
  cursor: pointer;
  fill: #666666; }
  .column-header:hover {
    background-color: #666666;
    color: #FFFFFF;
    fill: #FFFFFF; }
    .column-header:hover:after, .column-header:hover:before {
      content: "";
      display: block;
      position: absolute;
      top: 102%;
      width: 0;
      height: 0;
      border-style: solid; }
    .column-header:hover:after {
      left: 2.1rem;
      border-color: #666666 transparent transparent transparent;
      border-width: 1.1rem; }
    .column-header:hover:before {
      left: 2rem;
      border-color: #FFFFFF transparent transparent transparent;
      border-width: 1.2rem; }
  .column-header__icon {
    width: 3rem;
    height: 2rem;
    fill: inherit; }
  .column-header__text {
    font-size: 1.6rem;
    margin-right: auto;
    font-weight: 700; }
  .column-header:after, .column-header:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid; }
  .column-header:after {
    left: 2.1rem;
    border-color: #FFFFFF transparent transparent transparent;
    border-width: 1.1rem; }
  .column-header:before {
    left: 2rem;
    border-color: #666666 transparent transparent transparent;
    border-width: 1.2rem; }

.comments-form {
  padding: 0 2rem;
  margin-top: auto; }
  .comments-form__label {
    display: block;
    font-size: 1.6rem;
    margin-bottom: .5rem; }
  .comments-form__comments {
    font-family: "Georgia", serif;
    font-size: 1.4rem;
    width: calc(100% - 1.7rem);
    resize: none;
    margin-left: 1.7rem;
    border: none;
    height: 12rem;
    padding: 1rem; }
    .comments-form__comments:focus {
      outline-color: #333333; }

.info-box {
  overflow: hidden;
  font-size: 2.5rem; }
  @media only screen and (max-width: 43.75em) {
    .info-box {
      width: 100%;
      text-align: center;
      order: 1; } }
  .info-box__title {
    font-size: 2.5rem;
    font-weight: 300;
    border: none;
    outline: none;
    font-family: Roboto, sans-serif;
    flex: 1 1 auto;
    margin-right: 2rem; }
    .info-box__title::selection {
      background: #666666;
      color: #FFFFFF; }
    @media only screen and (max-width: 43.75em) {
      .info-box__title {
        text-align: center;
        margin-bottom: 1rem;
        width: 80%; } }
  .info-box__progress-bar {
    width: 100%;
    height: .5rem;
    background-color: #7798A6;
    border-radius: 1000px;
    position: relative; }

.logo {
  height: 3rem;
  margin-right: 4rem; }
  @media only screen and (max-width: 43.75em) {
    .logo {
      margin-right: 0rem;
      margin-bottom: 1.5rem; } }

.scroll-button {
  position: fixed;
  background-color: #e6e6e6;
  z-index: 100;
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  width: 4.2rem;
  border: 1px solid #cccccc;
  cursor: pointer; }
  .scroll-button__icon {
    height: 3rem;
    fill: #9DA145;
    width: 3rem; }
    .scroll-button__icon--left {
      transform: rotate(180deg); }
  .scroll-button--left {
    left: 0; }
  .scroll-button--right {
    right: 0; }

.notes {
  display: flex;
  flex-direction: column;
  width: 50rem;
  position: absolute;
  background-color: #FFFFFF;
  border-left: 1px solid #000000;
  top: 0;
  right: -50rem;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 200;
  transition: right .3s ease-in-out;
  border-right: 1px solid #333333; }
  @media only screen and (max-width: 37.5em) {
    .notes {
      width: 100%;
      right: -100%; } }
  .notes__close {
    display: block;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    fill: #333333;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: -4rem;
    margin-left: auto; }
    .notes__close:hover {
      fill: #000000; }
  .notes__editor {
    margin-top: 5rem;
    overflow: auto; }
  .notes--active {
    right: 0px; }

.app-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem; }
  .app-overlay__content {
    background-color: #FFFFFF;
    padding-top: 1rem;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    max-height: 90vh; }
    .app-overlay__content > div:last-of-type {
      padding: 0rem 2rem 2rem 2rem;
      overflow: auto; }
  .app-overlay__close {
    display: block;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    fill: #333333;
    margin-bottom: 1rem;
    align-self: flex-end;
    margin-right: 1rem;
    flex-shrink: 0; }
    .app-overlay__close:hover {
      fill: #000000; }

.form {
  font-size: 1.6rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center; }
  .form__form-group {
    margin-bottom: 1.5rem; }
    .form__form-group label {
      display: inline-block;
      margin-bottom: .5rem; }
  .form__input {
    background-color: white;
    display: inline-block;
    width: 100%;
    border-radius: .4rem;
    padding: 1rem 1.2rem;
    border: 1px solid #505050;
    outline: none;
    font-size: 1.2rem; }
  .form--600 {
    max-width: 60rem; }
  .form--400 {
    max-width: 40rem; }
  .form--300 {
    max-width: 30rem; }
  .form--200 {
    max-width: 20rem; }

.btn {
  color: #FFFFFF;
  background-color: #7798A6;
  border: 1px solid #505050;
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1.6rem;
  outline: none;
  display: inline-block;
  text-align: center; }
  .btn:hover {
    background-color: #5d7f8d; }
  .btn:active {
    background-color: #48636f; }
  .btn:disabled {
    cursor: default;
    background-color: #96afba; }
  .btn--small {
    font-size: 1.6rem;
    padding: .7rem; }
  .btn--tiny {
    font-size: 1.4rem;
    padding: .5rem; }
  .btn--full-width {
    width: 100%; }
  .btn--width-200 {
    width: 20rem; }
  .btn__loading {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 2rem; }
  .btn--danger {
    background-color: #a1a456; }
    .btn--danger:hover {
      background-color: #808344; }
    .btn--danger:active {
      background-color: #5f6133; }
  .btn--cancel {
    background-color: #A16267;
    color: #FFFFFF; }
    .btn--cancel:hover {
      background-color: #824e52; }
  .btn--short {
    padding-top: 5px;
    padding-bottom: 5px; }

.user-panel {
  margin: 0 auto;
  max-width: 60rem;
  overflow: auto; }
  .user-panel > div {
    margin-bottom: 2rem; }

.new-card-form {
  margin-top: 2rem; }
  .new-card-form__card-element {
    margin-bottom: 1rem; }

.card-panel {
  margin-bottom: 2rem; }
  .card-panel__text {
    font-size: 1.6rem;
    margin-bottom: 1rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__video {
    height: 100%;
    width: 100%;
    object-fit: cover; }
    @media only screen and (max-width: 37.5em) {
      .bg-video__video {
        display: none; } }
  .bg-video__image {
    background: url("/img/White-Board.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .bg-video__image {
        display: block; } }

.alert {
  border: 1px solid black;
  font-size: 1.4rem;
  border-radius: .5rem;
  margin-top: 1rem;
  text-align: center;
  max-width: 100%;
  padding: .5rem;
  margin-bottom: 1rem; }
  .alert--failure {
    background-color: #F8D6D9;
    color: #A16267;
    border-color: #F5C5CA; }
  .alert--success {
    background-color: #D3ECD9;
    color: #396F45;
    border-color: #C4E6CB; }

.addux-list-item {
  border-top: 1px solid #505050;
  border-bottom: 1px solid #505050;
  text-align: center;
  height: 4rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.6rem;
  background-color: #505050;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  align-items: center; }
  .addux-list-item__name {
    margin-left: 2rem;
    margin-right: auto;
    width: 60%; }
    .addux-list-item__name--input {
      border: none;
      outline: none;
      font-size: 1.6rem;
      color: #505050; }
    .addux-list-item__name--display {
      text-overflow: ellipsis;
      overflow: hidden; }
  .addux-list-item__icon {
    height: 4rem;
    width: 4rem;
    fill: #505050;
    margin-left: auto;
    padding: 1rem;
    border-top: 1px solid #505050;
    border-bottom: 1px solid #505050; }
    .addux-list-item__icon:hover {
      fill: #FFFFFF;
      background-color: #505050; }
    .addux-list-item__icon--delete {
      margin: 0; }
      .addux-list-item__icon--delete:hover {
        fill: #505050;
        background-color: #F8D6D9; }
  .addux-list-item--active {
    color: #505050;
    background-color: #FFFFFF; }
  .addux-list-item:hover {
    background-color: #cccccc;
    color: #505050; }
  .addux-list-item__button {
    margin-right: 2rem; }

.vimeo-video {
  width: 50vw; }
  @media only screen and (max-width: 75em) {
    .vimeo-video {
      width: 60vw; } }
  @media only screen and (max-width: 56.25em) {
    .vimeo-video {
      width: 70vw; } }
  @media only screen and (max-width: 37.5em) {
    .vimeo-video {
      width: 80vw; } }

.share-page {
  max-width: 100rem;
  text-align: center; }
  .share-page__box {
    font-size: 2rem;
    width: 40%;
    display: inline-block;
    word-wrap: break-word;
    padding: 2rem 3rem;
    border: 1px solid #333333;
    border-radius: .5rem;
    margin: 0 5%;
    text-align: left;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .share-page__box {
        width: 45%;
        margin: 0 2.5%;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .share-page__box {
        width: 80%;
        margin-bottom: 2rem; } }
  .share-page__text {
    margin-bottom: 1rem; }
    .share-page__text > input {
      width: 100%;
      margin-top: 1rem;
      font-size: 1.6rem; }
  .share-page__link {
    border: 1px solid #000000; }
  .share-page__alert {
    visibility: hidden; }
    .share-page__alert--reveal {
      visibility: visible; }

.addux-pdf {
  width: 17in;
  height: 11in;
  position: fixed;
  top: -11in;
  display: flex;
  flex-direction: column;
  padding: .3in; }
  .addux-pdf__header {
    display: flex;
    margin-bottom: .3in;
    align-items: baseline; }
  .addux-pdf__logo {
    width: 10%;
    margin-left: .2in; }
  .addux-pdf__title {
    font-size: 30px;
    margin-left: .5in;
    font-weight: 300; }
  .addux-pdf__columns {
    width: 100%;
    display: flex;
    flex-grow: 1; }
  .addux-pdf__footer {
    margin-top: .3in;
    margin-left: auto;
    width: 20%;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 12px; }
  .addux-pdf--page {
    position: static; }

.html2canvas-container {
  width: 3000px !important;
  height: 3000px !important; }

.pdf-column {
  width: 14.2%;
  display: flex;
  flex-direction: column; }
  .pdf-column__header {
    width: 100%;
    font-size: 11pt;
    font-family: 'Garamond', 'EB Garamond', serif;
    text-align: center; }
  .pdf-column__boxes {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-radius: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 .15in;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word; }
  .pdf-column__box {
    border: 1px solid #000000;
    font-family: "Roboto", sans-serif;
    padding: 5px;
    font-size: 8pt;
    height: 60px;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .pdf-column__box--objective {
      height: 150px; }
    .pdf-column__box--goals {
      height: 90px; }
    .pdf-column__box:last-of-type {
      margin-bottom: 0px; }

.empty-page {
  width: 100%;
  background-image: url("../img/addux.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .empty-page__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    padding: 3rem;
    border: 1px solid #000000; }
    .empty-page__box > p {
      font-size: 1.6rem;
      margin-bottom: 1rem; }

.objective-block {
  margin: 3rem 0 1.5rem 0;
  padding: 0 1.8rem;
  overflow: auto; }
  @media only screen and (max-width: 56.25em) {
    .objective-block {
      overflow: visible; } }
  .objective-block__label {
    background-color: #7798A6;
    font-size: 1.4rem;
    height: 2.5rem;
    color: white;
    padding: 0 2rem;
    border: 1px solid #e6e6e6;
    display: flex;
    align-items: center; }
  .objective-block__input {
    position: relative; }
  .objective-block__alert {
    border: 1px solid;
    position: absolute;
    width: 100%;
    bottom: 0px;
    font-size: 1rem;
    padding: .5rem;
    text-align: center;
    transition: all .3s ease-in-out;
    opacity: 1; }
    .objective-block__alert--success {
      background-color: #D3ECD9;
      color: #396F45;
      border-color: #C4E6CB; }
    .objective-block__alert--failure {
      background-color: #F8D6D9;
      color: #A16267;
      border-color: #F5C5CA; }
    .objective-block__alert--hidden {
      opacity: 0; }

.loadingPage {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  position: relative; }
  .loadingPage__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 5rem; }

.logout-button {
  border: 1px solid #7798A6;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: 5rem;
  padding: .5rem 1rem; }
  @media only screen and (max-width: 43.75em) {
    .logout-button {
      margin: 0;
      margin-bottom: 1rem; } }
  .logout-button:hover {
    background-color: #7798A6;
    color: #FFFFFF;
    fill: #FFFFFF; }
  .logout-button__icon {
    height: 2rem;
    width: 2rem; }
  .logout-button__text {
    margin-left: 1rem;
    font-size: 1.6rem; }

.timer {
  display: flex; }
  .timer__block {
    background-color: #A90001;
    color: #FFFFFF;
    display: inline-block;
    padding: 1rem 1rem;
    text-align: center; }
    .timer__block:not(:last-child) {
      margin-right: 1rem; }
  .timer__number {
    font-size: 6.9rem;
    margin-bottom: -1rem; }
  .timer__label {
    font-size: 1.9rem; }

.full-viewport {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%; }

.app {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; }

.header {
  display: flex;
  padding: 1rem 2.5rem;
  align-items: flex-end; }
  @media only screen and (max-width: 43.75em) {
    .header {
      flex-direction: column;
      align-items: center; } }

.main-content {
  display: flex;
  flex: 1;
  overflow: auto;
  padding: 0 2.2rem; }

.footer {
  height: 3.5rem;
  display: flex;
  border-top: 0.3rem solid #7798A6;
  text-decoration: none; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      display: none; } }
  .footer div:last-child {
    border-right: none; }
  .footer__box {
    align-items: center;
    cursor: pointer;
    display: flex;
    fill: #333333;
    font-size: 1.6rem;
    font-weight: 900;
    justify-content: center;
    text-transform: uppercase;
    width: 26%;
    text-decoration: none;
    border-right: 0.3rem solid #7798A6;
    color: #333333; }
    .footer__box:hover {
      background-color: #7798A6;
      color: #FFFFFF !important;
      fill: #FFFFFF; }
      .footer__box:hover > .footer__text--light-gray {
        color: #FFFFFF; }
    .footer__box--alt {
      background-color: #7798A6;
      color: #FFFFFF;
      fill: #FFFFFF;
      font-size: 1.6rem;
      font-weight: 700;
      width: 22%; }
      .footer__box--alt:hover {
        background-color: #FFFFFF;
        color: #505050;
        fill: #505050; }
      @media only screen and (max-width: 75em) {
        .footer__box--alt {
          font-size: 1.4rem; } }
  .footer__icon {
    height: 3.1rem;
    width: 2rem; }
    .footer__icon--alt {
      height: 1.6rem;
      width: 1.6rem;
      margin-top: 1px; }
  .footer__text--margin {
    margin-left: 1.6rem; }
  .footer__text--light-gray {
    color: #999999; }

.home-page {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%; }
  .home-page__form {
    background-color: rgba(246, 246, 246, 0.8);
    border: 1px solid #dddddd;
    width: 35rem;
    max-height: 95vh;
    overflow: auto;
    padding: 2.5rem;
    border-radius: .7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 5px 5px rgba(50, 50, 50, 0.3); }

.center-form-page {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%; }
  .center-form-page__heading {
    font-size: 3.9rem;
    margin-bottom: 1rem; }
  .center-form-page__form {
    background-color: #F6F6F6;
    border: 1px solid #dddddd;
    max-width: 40rem;
    padding: 3rem;
    border-radius: .7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 5px 5px rgba(50, 50, 50, 0.3);
    width: 60%; }
    @media only screen and (max-width: 56.25em) {
      .center-form-page__form {
        width: 80%; } }
  .center-form-page__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 100%; }
  .center-form-page__link {
    display: block;
    text-align: center; }
  .center-form-page__or {
    text-align: center;
    font-size: 1.6rem;
    margin: 1rem; }

.signup-page__form {
  background-color: #E5E3E2;
  max-width: 80rem;
  margin: 0 auto;
  padding: 6rem 10rem;
  padding-top: 8rem;
  box-shadow: 0px 3px 5px 5px rgba(50, 50, 50, 0.3);
  position: relative; }
  .signup-page__form > button {
    margin-bottom: 1rem; }

.signup-page__back {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.6rem;
  border: 1px solid #505050;
  padding: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7898AD;
  border-radius: .5rem; }
  .signup-page__back:visited {
    color: #FFFFFF; }
  .signup-page__back:hover {
    background-color: #5b7f97;
    color: #FFFFFF; }

.signup-page__description {
  font-size: 2rem;
  margin-bottom: 1.5rem; }

.signup-page__price {
  font-size: 4.5rem;
  color: #000000; }
  .signup-page__price--red {
    color: #A90001; }
  .signup-page__price--strike {
    color: black;
    font-size: 3.5rem;
    position: relative; }
    .signup-page__price--strike:before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      right: 0;
      border-top: 2px solid;
      border-color: #A90001;
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -o-transform: rotate(-5deg);
      transform: rotate(-5deg); }

.signup-page__agreement {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center; }

.signup-page__checkbox {
  margin-right: 1rem; }

.sales-page {
  background-color: #FFFFFF; }

.sales-header {
  align-items: center;
  width: 100%;
  display: flex;
  background-color: #F6F6F6;
  margin-bottom: 10rem;
  height: 20.7rem;
  padding: 1rem 14rem;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0px 3px 5px 5px rgba(50, 50, 50, 0.3); }
  @media only screen and (max-width: 68.75em) {
    .sales-header {
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
      height: auto; } }
  .sales-header__logo {
    width: 22.7rem;
    display: inline-block; }
    @media only screen and (max-width: 68.75em) {
      .sales-header__logo {
        margin-bottom: 2rem; } }
  .sales-header__text {
    color: #A90001;
    font-size: 4.9rem;
    display: inline-block; }
    @media only screen and (max-width: 68.75em) {
      .sales-header__text {
        width: 100%;
        text-align: center;
        font-size: 4rem; } }

.content {
  max-width: 90rem;
  margin: 0 auto;
  text-align: center; }

.content-box {
  background-color: #f6f6f6;
  padding-top: 1.7rem;
  margin-bottom: 7rem;
  box-shadow: 0px 4px 5px 2px rgba(50, 50, 50, 0.19);
  position: relative; }

.banner {
  position: relative; }
  .banner__login {
    display: block;
    text-align: right;
    padding-top: 1rem;
    padding-right: 2rem; }
  .banner__button {
    font-size: 2rem;
    border: 1px solid #7898AD;
    padding: 1rem;
    text-decoration: none;
    color: #7898AD; }
    .banner__button:visited {
      color: #7898AD; }
    .banner__button:hover {
      background-color: #7898AD;
      color: #FFFFFF; }
  .banner__header {
    font-size: 7.4rem;
    font-weight: 100;
    margin-bottom: 6rem;
    color: #7898AD;
    letter-spacing: 2px; }
    .banner__header > img {
      width: 15rem;
      height: auto; }
  .banner__image {
    max-width: 90%;
    margin-bottom: -8rem; }
  .banner__accent {
    height: 12rem;
    background-color: #7898AD;
    box-shadow: 0px 4px 5px 2px rgba(50, 50, 50, 0.19);
    border-radius: 0 0 1rem 1rem; }

.ribbon {
  width: 25rem;
  height: 30rem;
  position: absolute;
  overflow: hidden;
  top: -1.7rem;
  left: 0; }
  .ribbon__text {
    text-transform: uppercase;
    width: 40rem;
    padding: 1.5rem;
    background-color: #A90001;
    color: white;
    transform: rotate(-45deg) translate(-30%, -19%);
    font-size: 2rem;
    letter-spacing: 2.5px; }

.loginButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  border: 1px solid #7898AD;
  padding: 1rem;
  text-decoration: none;
  color: #7898AD; }
  .loginButton:visited {
    color: #7898AD; }
  .loginButton:hover {
    background-color: #7898AD;
    color: #FFFFFF; }

.blurb {
  padding: 5rem 9rem;
  line-height: 1.6; }
  .blurb__heading {
    font-size: 2.6rem;
    font-weight: 400;
    margin-bottom: 2rem; }
  .blurb__lists {
    max-width: 50rem;
    margin: 0 auto;
    text-align: left; }
  .blurb__list-heading {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem; }
    .blurb__list-heading--offer {
      color: #A90001; }
    .blurb__list-heading--promo {
      color: #A90001;
      font-size: 2rem;
      text-align: center; }
  .blurb__list {
    display: inline-block;
    text-align: left;
    font-size: 3rem;
    font-weight: 100;
    list-style: url("/img/checkmark.svg"); }
    .blurb__list:not(:last-child) {
      margin-bottom: 7rem; }
    .blurb__list > li {
      margin-bottom: 3rem;
      margin-left: 3rem;
      line-height: 1.1; }
      .blurb__list > li:last-child {
        margin-bottom: 0; }
  .blurb__inner-list {
    list-style: inside;
    margin-top: 3rem; }
    .blurb__inner-list > li {
      margin-left: 3rem; }

.choose-block {
  padding: 0 4rem; }
  .choose-block__plans {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    flex-wrap: wrap; }
  .choose-block__button {
    width: 100%;
    font-size: 3.8rem;
    color: #7898AD;
    padding: 4rem 0;
    letter-spacing: 2px;
    margin-bottom: 2rem; }

.plan {
  background-color: #E8E8E8;
  width: 28rem;
  padding: 1rem;
  cursor: pointer;
  transition: all .3s;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: #000000; }
  .plan:visited {
    color: #000000; }
  .plan__extra {
    font-size: 1.5rem;
    margin-top: -1rem; }
  @media only screen and (max-width: 37.5em) {
    .plan {
      width: 100%;
      margin-bottom: 2rem; } }
  .plan--selected {
    background-color: #7898AD; }
  .plan:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .plan__title {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 1rem; }
  .plan__price {
    font-size: 3.5rem;
    color: #A90001; }
    .plan__price--time {
      font-size: 1.5rem; }
    .plan__price--strike {
      color: black;
      font-size: 2.5rem;
      position: relative; }
      .plan__price--strike:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        border-top: 2px solid;
        border-color: #A90001;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg); }

.subscribe-page {
  width: 100%;
  min-height: 100vh;
  position: relative; }
  .subscribe-page__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F6F6F6;
    max-height: 90vh;
    width: 50%;
    padding: 2rem;
    text-align: center;
    overflow: auto;
    box-shadow: 0px 3px 5px 5px rgba(50, 50, 50, 0.3); }
    @media only screen and (max-width: 56.25em) {
      .subscribe-page__box {
        width: 60%; } }
    @media only screen and (max-width: 37.5em) {
      .subscribe-page__box {
        width: 80%; } }
  .subscribe-page__primary {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .subscribe-page__logout {
    margin-bottom: 1rem; }
  .subscribe-page__tertiary {
    font-size: 1.6rem; }
