.sales-page{
    background-color:$white;
}

.sales-header{
    align-items:center;
    width:100%;
    display:flex;
    background-color:#F6F6F6;
    margin-bottom:10rem;
    height:20.7rem;
    padding:1rem 14rem;
    justify-content: space-between;
    flex-wrap:wrap;
    box-shadow:0px 3px 5px 5px rgba(50, 50, 50, 0.3);

    @media only screen and (max-width: 68.75em) { 
        justify-content:center;
        flex-direction: column;
        flex-wrap:nowrap;
        height:auto;
    };
    
    @include respond(phone){
        //height:25rem;
    }

    &__logo{
        width:22.7rem;
        display:inline-block;

        @media only screen and (max-width: 68.75em) { 
            margin-bottom:2rem;
        }; 
    }

    &__text{
        color:#A90001;
        font-size:4.9rem;
        display:inline-block;

        @media only screen and (max-width: 68.75em) { 
            width:100%;
            text-align:center;
            font-size:4rem;
        }; 
    }
}

.content{
    max-width:90rem;
    margin:0 auto;
    text-align:center;
}

.content-box{
    background-color:#f6f6f6;
    padding-top:1.7rem;
    margin-bottom:7rem;
    box-shadow:0px 4px 5px 2px rgba(50, 50, 50, 0.19);
    position:relative;
}

.banner{
    position:relative;

    &__login{
        display:block;
        text-align:right;
        padding-top:1rem;
        padding-right:2rem;
    }

    &__button{
        font-size:2rem;
        border:1px solid #7898AD;
        padding:1rem;
        text-decoration: none;
        color:#7898AD;

        &:visited{
            color:#7898AD;
        }

        &:hover{
            background-color:#7898AD;
            color:$white;
        }
    }

    &__header{
        font-size: 7.4rem;
        font-weight: 100;
        margin-bottom: 6rem;
        color:#7898AD;
        letter-spacing: 2px;

         & > img{
             width:15rem;
             height:auto;
         }
    }

    &__image{
        max-width: 90%;
        margin-bottom:-8rem;
    }

    &__accent{
        height:12rem;
        background-color:#7898AD;
        box-shadow:0px 4px 5px 2px rgba(50, 50, 50, 0.19);
        border-radius: 0 0 1rem 1rem;
     }
}

.ribbon{
    width:25rem;
    height:30rem;
    position:absolute;
    overflow:hidden;
    top:-1.7rem;
    left:0;

    &__text{
        text-transform: uppercase;
        width:40rem;
        padding:1.5rem;
        background-color:#A90001;
        color:white;
        transform:rotate(-45deg) translate(-30%, -19%);
        font-size:2rem;
        letter-spacing:2.5px;
    }
}

.loginButton{
    position: absolute;
    top:1rem;
    right:1rem;
    font-size:2rem;
    border:1px solid #7898AD;
    padding:1rem;
    text-decoration: none;
    color:#7898AD;

    &:visited{
        color:#7898AD;
    }

    &:hover{
        background-color:#7898AD;
        color:$white;
    }
}

.blurb{
    padding:5rem 9rem;
    line-height:1.6;

    &__heading{
        font-size:2.6rem;
        font-weight:400;
        margin-bottom:2rem;
    }

    &__lists{
        max-width:50rem;
        margin: 0 auto;
        text-align:left;
    }

    &__list-heading{
        font-size:3rem;
        font-weight:400;
        margin-bottom:1rem;

        &--offer{
            color:#A90001;
        }

        &--promo{
            color:#A90001;
            font-size:2rem;
            text-align:center;
        }
    }

    &__list{
        display:inline-block;
        text-align:left;
        font-size:3rem;
        font-weight:100;
        list-style: url('/img/checkmark.svg');

        &:not(:last-child){
            margin-bottom:7rem;
        }

        & > li{
            margin-bottom:3rem;
            margin-left:3rem;
            line-height:1.1;

            &:last-child{
                margin-bottom:0;
            }
        }
    }

    &__inner-list{
        list-style:inside;
        margin-top:3rem;

        & > li{
            margin-left:3rem;
        }
    }
}

.choose-block{
    
    padding:0 4rem;
    

    &__plans{
        display:flex;
        justify-content: space-between;
        margin-bottom:4rem;
        flex-wrap: wrap;
    }

    &__button{
        width:100%;
        font-size:3.8rem;
        color:#7898AD;
        padding:4rem 0;
        letter-spacing: 2px;
        margin-bottom:2rem;
        
    }
}

.plan{
    background-color:#E8E8E8;
    width:28rem;
    padding:1rem;
    cursor: pointer;
    transition:all .3s;
    box-shadow: 0 0 0 rgba(0,0,0,0.15);
    text-decoration: none;

    &:visited{
        color:black;
    }


    @include respond(phone){
        width:100%;
        margin-bottom:2rem;
    }

    &--selected{
        background-color:#7898AD;
    }

    &:hover{
        //background-color:#7898AD;
        transform: translateY(-1.5rem) scale(1.03);
        box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
    }

    &__title{
        text-transform: uppercase;
        font-size:3rem;
        margin-bottom:1rem;
    }

    &__price{
        font-size:3.5rem;
        color:#A90001;

        &--time{
            font-size:1.5rem;
        }

        &--strike{
            color:black;
            font-size:2.5rem;
            position:relative;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                right: 0;
                border-top: 2px solid;
                border-color: #A90001;
              
                -webkit-transform:rotate(-5deg);
                -moz-transform:rotate(-5deg);
                -ms-transform:rotate(-5deg);
                -o-transform:rotate(-5deg);
                transform:rotate(-5deg);
              }
        }
    }
}